* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, .one, .four {
    padding: 0 175px;
}

.two, .three {
    padding: 0 250px;
}

.header, .footer {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    height: 54px;
}

.header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.footer {
    justify-content: center;
    font-size: 18px;
    color: #e5e7eb;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 400px;
    gap: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    height: 400px;
}

.info-header-text {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.rubik-steps {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.step-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-style: solid;
    border-color: #1f2937;
    border-radius: 12px;
    border-width: 4px;
    margin-bottom: 12px;
}

.step .hero-secondary-text {
    text-align: center;
    font-size: 16px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    height: 400px;
    background-color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text, .hero-img {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    width: 400px;
}

.one .container button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 6px;
    width: 96px;
    height: 28px;
}

.rubik-steps .hero-secondary-text {
    color: #1f2937;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.three .standard-text {
    font-size: 18px;
    text-align: right;
    font-weight: 700;
}

.four {
    display: flex;
    align-items: center;
    height: 300px;
}

.banner {
    flex: 1;
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    border-radius: 6px;
    padding: 0 75px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.banner .banner-text .standard-text {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.banner .banner-text .hero-secondary-text {
    font-size: 14px;
}

.banner button {
    background-color: #3882f6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    width: 96px;
    height: 28px;
}