* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0 150px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}