* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer, .one, .two, .three, .four {
    padding: 0 175px;
}

.header, .footer {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    height: 54px;
}

.header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.footer {
    justify-content: center;
    font-size: 18px;
    color: #e5e7eb;
}

.one, .two, .three {
    height: 400px;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text, .hero-img {
    font-size: 18px;
    color: #e5e7eb;
}

.info-header-text {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 24px;
}

.rubik-steps {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.rubik-steps .hero-secondary-text {
    color: #1f2937;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.three .standard-text {
    font-size: 18px;
    text-align: right;
    font-weight: 700;
}